<%- include('../partials/header') %>

<h2><%= title %></h2>

<% if (recipes.length) { %>
    <div class="cards">
    <% recipes.forEach(recipe => { %>
            <div class="card">
                <img src="<%= recipe.img %>" alt="recipe img" class="thumbnail">
                <div class="card_content">
                    <p> <%= recipe.title %></p>
                </div>
                <div class="card_info">
                    <a href="/recipes/<%= recipe._id%>"class="card_link">View Recipe</a>
                </div>
            </div>
                <% }); %> 
    </div>
<% } else { %> 
    <h3>Sorry no recipes yet - you should add one!</h3>
<% } %> 

<footer> You may ask - why Egghead? Because eggs are delicious and you prolly have them. </footer>

<%- include('../partials/footer') %>