<%- include('../partials/show') %>

<section id="show-recipe">
    <div class="recipe_title"><%= recipe.title %></div>
    <div class="key_ingredient">Key Ingredients:
        <h4><%= recipe.keyIngredients %></h4>
    </div>
    <div class="ingredient">Ingredients:
        <h4><%= recipe.ingredients %></h4>
    </div>
    <div class="instructions">Instructions:
        <h4><%= recipe.instructions %></h4>
    </div>
    <div class="recipe_img">
        <img src="<%= recipe.img %>">
    </div>
    <div class="servings">Servings:
        <h4><%= recipe.servings %></h4>
    </div>
    <div class="prepTime">Prep Time:
        <h4><%= recipe.prepTime %></dh4>
    </div>
    <div class="cookTime">Cook Time:
        <h4><%= recipe.cookTime%></h4>
    </div>
</section>

<section id="show-comments">
    <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
        <label>Comments:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating" class="dropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <input type="submit" value="Add Comment" id="add_comment_button">
    </form>

  <% if (recipe.comments.length) { %>
    <% recipe.comments.forEach(comment => { %>
        <div class="comments">
            <div class="comment">
                <div class="comment_rating">
                    <p> <%= comment.rating %></p>
                </div>
                <div class="comment_content">
                    <p> <%= comment.content %></p>
                </div>
            <% }); %>
            </div>
        </div>
<% } else { %> 
<% } %>
<h3> Have you made this? Have any tips? Share below! </h3>

</section>

<%- include('../partials/footer') %>