<%- include('../partials/header') %>

<section id="show-recipe">
    <div><%= recipe.title %></div>
    <div>Key Ingredients:</div>
    <div><%= recipe.keyIngredients %></div>
    <div>Ingredients:</div>
    <div><%= recipe.ingredients %></div>
    <div>Instructions:</div>
    <div><%= recipe.instructions %></div>
    <div><%= recipe.img %></div>
    <div>Servings:</div>
    <div><%= recipe.servings %></div>
    <div>Prep Time:</div>
    <div><%= recipe.prepTime %></div>
    <div>Cook Time:</div>
    <div><%= recipe.cookTime%></div>
</section>

<%- include('../partials/footer') %>